<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake my day</title>
    {{!--
    <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
     {{>navbar}}
    {{>sidenav}} 
    <section class="conc">
        <div class="wall"> <p>.</p>
                <div><p>.</p></div>
                
            <div class="Cart-Contain">
                <div class="Header">
                    <h3 class="Heading">Shopping Cart</h3>
                    <h5 class="Action">Remove all</h5>
                </div>
                <div class="Cart-Items">
                    <div class="image-box">
                        <img src="image/th.jpg" />
                    </div>
                    <div class="about">
                        <h1 class="title">cake 1</h1>
                        <p>size: {{cakesize}}</p>
                    </div>
                    <div class="prices">
                        <div class="amount">$2.99</div>
                        <div class="remove"><u>Remove</u></div>
                    </div>
                </div>
                <div class="Cart-Items">
                    <div class="image-box">
                        <img src="image/th.jpg" />
                    </div>
                    <div class="about">
                        <h1 class="title">cake 1</h1>
                        <p>size: {{cakesize}}</p>
                    </div>
                    <div class="prices">
                        <div class="amount">$2.99</div>
                        <div class="remove"><u>Remove</u></div>
                    </div>
                </div>
                <hr>
                <div class="checkout">
                    <div class="total">
                        <div>
                            <div class="Subtotal">Sub-Total</div>
                            <div class="items">{{2}} items</div>
                        </div>
                        <div class="total-amount">{{5.98}}</div>
                    </div>
                    <div><button class="bttn">Checkout</button></div>
                </div>
            </div>
         .
        </div>
        {{>footer}}
    </section>
</body>

</html>