<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake my day</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>navbar}}
    {{>sidenav}}
    <section class="conc">
    <h2 style="color: brown; text-align: center; font-size: 3rem; margin-top: 6rem; text-shadow: var(--box-shadow);">Find your desert from our menu</h2>
    <div class="list">
        <div class="card">
            <a href="#">
                <img src="image/Almond cake.png" alt="" srcset="" width="210">
            </a>
            <div class="productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Almond cake</h5>
                <h6>Price: 400rs</h5>
            </div>
            <div class="btn">
                <button>Add to cart</button>
               <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Angel food cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Angel food cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
               <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Apple Bundt Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Apple bundt cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Apricot cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Apricot cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Banana cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Banana cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Black forest cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Black forest cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Blueberry cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Blueberry cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Cherry cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Cherry cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Chiffon Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Chiffon cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Coconut cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Coconut cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Coffee cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Coffee cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Cranberry cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Cranberry cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Devil’s Food Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Devil's food cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Flourless Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Cake 1</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Fruitcake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Fruitcake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Funfetti cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Funfetti cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/German chocolate cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>German chocolate cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Gingerbread cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Gingerbread cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Hazelnut cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Hazelnut cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Honey cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Honey cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Hummingbird Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Hummingbird cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Mango cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Mango cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Marble cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Marble cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Mocha cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Mocha cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Peach cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Peach cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Pear cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Pear cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Pineapple cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Pineapple cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Pistachio cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Pistachio cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Plum cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Plum cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Pound cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Pound cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Pumpkin cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5>Pumpkin cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Raspberry cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Rasberry cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Red Velvet Cake.png" alt="" srcset="" width="200">
            </a>
            <div class="productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Red velvet cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Red velvet cheesecake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Red velvet cheesecake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Spice cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Spice cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Sponge Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Sponge cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Tiramisu cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Tiramisu cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Upside-Down Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Upside-down cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Walnut Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Walnut cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="image/Yellow Butter Cake.png" alt="" srcset="" width="200">
            </a>
            <div class=" productContent">
              <button class="btn"><i class="fa fa-heart-o" style="font-size:24px; cursor:pointer;"></i></button>
                <h5 >Yellow butter cake</h5>
                <h6>Price: 400rs</h6>
            </div>
            <div class="btn">
                <button>Add to cart</button>
                <a href="order_details"><button>Order now</button></a>
            </div>
        </div>
        
    </div>
    {{>footer}}
    </section>

</body>
</html>