<html>
    <head>
        <link rel = "stylesheet"  href="css\profile.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel = "stylesheet"  href="css\style.css"> 
    </head>
    {{>navbar}}
    {{>sidenav}}

    <section class="conc">
        <div class="wall">
    <h2 style="margin-left:30 rem;text-align:center;color:rgb(249, 244, 251)">BAKE MY DAY</h2>
            <h2 style="color:rgb(61, 4, 4); text-align: center;">Edit your profit</h2>
    
    <form class="form">
      

     <div class="formBody">
        {{!-- <div class="form-group"> --}}
            <div><label for="email"><p>Username:</p></label></div>
            
                <div><input class="form-control" id="name" type="text" pattern="[a-zA-Z\s]+"autocomplete="" placeholder="Type your name here..."></div>
                
        {{!-- </div> --}}
        
        
        {{!-- <div class="form-group"> --}}
            <div><label for="email"><p>Email address:</p></label></div>
            
                <div><input class="form-control" type="email" placeholder="Type your email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
                
        {{!-- </div> --}}
        
        {{!-- <div class="form-group"> --}}
            <div><label for="email"><p>Contact Number:</p></label></div>
            
               <div> <input class="form-control" type="text" maxlength="10" placeholder="Type your mobile number..."></div>
            
        {{!-- </div> --}}
        
        
        {{!-- <div class="form-group"> --}}
            <div><label for="email"><p>Address:</p></label></div>
            
                <div><input class="form-control" type="text"   placeholder="Type your address...">
                </div>

            <div>
                <label for="email"><p>City/Village:</p></label>
            </div>
            
            <div>
                <input class="form-control" type="text"   placeholder="Type your city/village name...">
            </div>

            <div>
                <label for="email"><p>State:</p></label>
            </div>
            
            <div>
                <input class="form-control" type="text"   placeholder="Type your state...">
            </div>
            <div><label for="email"><p>Postal Code:</p></label></div>
            
                <div><input class="form-control" type="text"   placeholder="Type your postal code...">
                </div>
                
        {{!-- </div> --}}
    </div>
    
      
        
         <br><br>           
    <div class="right">
        <a href="profile"> <button class="button" type="Submit">Save</button> </a>
    </div>
  </form>
    </div>
    {{>footer}}
  </section>
  
  </html>