<html>
    <head>
        <link rel = "stylesheet"  href="css\profile.css"> 
        <link rel = "stylesheet"  href="css\style.css"> 
        {{!-- <link rel = "stylesheet"  href="css\custume.css">  --}}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Bake my day</title>
    </head>

    {{>navbar}}
    {{>sidenav}}

    <section class="conc">
        <div class="wall">
    <h2 style="margin-left:30 rem;text-align:center;color:rgb(249, 244, 251)">BAKE MY DAY</h2>
    <h2 style="color: brown; text-align: center; font-size: 3rem; margin-top: 2rem; text-shadow: var(--box-shadow);">Your profile</h2>
    
    <form class="form">
      <i class="fa fa-user-circle-o" style="font-size:100px; padding: 0 15rem"></i>
      
     <br><br>
     <div class="formBody">
            <div><p>Username:</p></div>
            <div><p>Arpita Saha</p></div>
                
        
            <div><p>Email address:</p></div>
            <div><p>arpitasahaslg13@gmail.com</p></div>
            
            <div><p>Contact Number:</p></div>
            <div><p>7047247829</p>
            </div>
            <div><p>Address:</p></div>
            <div>
            <p>Mahahanda para, govt saw mill road</p>
            </div>
            <div><p>City/Village:</p></div>
            <div>
            <p>Siliguri</p>
            </div>
            <div><p>State:</p></div>
            <div>
            <p>West Bengal</p>
            </div><div><p>Postal Code:</p></div>
            <div>
            <p>734005</p>
            </div>
    </div>
    
      
        
         <br><br>           
    <div class="right">
        <a href="profile_edit"><button class="button" type="button">Edit</i></button></a>
    </div>
  </form>
  </div>
    {{>footer}}
  </section>
  
  </html>