<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<style>
  #acc{
    padding: 5rem 2rem;
    padding-bottom: 0;;
  }
  #acc .accordion {
    background-color: #faf1d3;
    color: #f9a406;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-shadow: 0 3px 0 #907602;
    border: none;
    /* border: 2px solid #9b0000; */
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
 #acc .active, .accordion:hover {
    background-color: #ffdfb3;
  }
  
 #acc .accordion:after {
    content: '\002B';
    color: #9b0000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
 #acc .active:after {
    content: "\2212";
  }
  
 #acc .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
</style>

<!--- Faq Page Start --->
          <div class="container" id="acc">
          <div class="faq" style="text-align: center; ">
            <h2 style="color: rgb(144, 6, 6);">Frequently Asked Questions</h2>
            {{!-- <p style="opacity: 56%;">Blood donation program welcomes regular and repeat healthy donors so that it has a steady blood supply for people in need. By starting to give when you are young and donating throughout your life, you may save thousands of lives.</p>
            <p>Still Have Qeustions?? <a href="#contact1"><button type="button" class="btn btn-danger ml-2" style="opacity: 90%;">Know more</button></a></p> --}}
          </div>

          <button class="accordion">What is the lead time for cake deliveries?</button>
          <div class="panel">
            <p>It's 10am to 9pm</p>
          </div>

          <button class="accordion">Do you offer same-day delivery?</button>
          <div class="panel">
            <p>Yes, but for the customized cake we can offer next-day delivery.</p>
          </div>

          <button class="accordion">What are the delivery fees for cake orders?</button>
          <div class="panel">
            <p>It's free</p>
          </div>

          <button class="accordion">Can I customize my cake's design, flavor, or size?</button>
          <div class="panel">
            <p>Yes, we provide a customized cake order form where you can mention design, flavors, size anything you want. This is our specialty.
            </p>
          </div>

          <button class="accordion">Do you deliver to my area?</button>
          <div class="panel">
            <p>We offer home-deliver in Siliguri, Visakhapatnam</p>
          </div>

          <button class="accordion">Can I specify a specific delivery time for my cake?</button>
          <div class="panel">
            <p>Yes, you can.</p>
          </div>

          <script>
          var acc = document.getElementsByClassName("accordion");
          var i;

          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
              } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
              } 
            });
          }
          </script>
          </div><br><br><br>
  
      <!--- Faq Page End --->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>