<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="css/product.css">

<section class="product" id="product">
    <div class="heading">
        <h2>Our Exclusive Products</h2>
    </div>
    <div class="swiper product-row">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake1.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500</p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div><div class="swiper-slide box">
                <div class="img">
                    <img src="image/cake3.png" alt="">
                </div>
                <div class="product-content">
                    <h3>Chocolate</h3>
                    <p>Price: 500
                    </p>
                    <div class="orderNow">
                        <a href="order_details"><button>Order now</button></a>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="swiper-pagination"></div>
    </div>
    
        <div class="swiper-pagination"></div>

        <div style="display:flex; justify-content:center"><a href="menu" style="font-size: 1.5rem; text-decoration: none">see more</a></button></div>
    
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="index.js"></script>