/* body{
    margin: 0;
    padding: 0;
    
    /* display: flex;
    justify-content: center;
    align-items: center; 
} */
.wall{
    margin:0;
    padding: 0;
    background-color: #f7f7dbd3;
}
.wall .Cart-Contain{
    width: 70%;
    min-height: 80vh;
    max-height: fit-content;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #29292a5e;
    /* margin:auto; */
    margin: 4rem 200px;
    margin-bottom: 0;
    padding: 2rem;
}
.wall .Cart-Contain .Header{
    /* padding: 1rem;; */
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wall .Cart-Contain .Header .Heading{
font-size: 20px;
font-family: 'Open Sans';
font-weight: 700;
color: #2F3841;
}

.wall .Cart-Contain .Header .Action{
 font-size: 14px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 border-bottom: 1px solid #E44C4C;
}

.Cart-Items .image-box img{
    width: 150px;
}

.Cart-Items{
    margin: auto;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.Cart-Items .image-box{
    width: fit-content;
    padding:10px;
    text-align: center;
}
.Cart-Items .about{
    height: 100%;
    padding:10px;
}
.Cart-Items .about .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
}
  
.counter{
    width: fit-content;
    padding:10px;
    display: flex;
    align-items: center;
}

/* .count{
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
} */
.prices{
    height: fit-content;
    padding:10px;
    text-align: right;
}
.prices .amount{
    padding-bottom: 0;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.prices  .remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

hr{
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout{
    float: right;
    /* justify-content: bottom; */
    margin-right: 5%;
    width: 28%;
}
.total{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}
.Subtotal{
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}
.items{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.total-amount{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}
.bttn{
    margin: 10px 0;
    padding: 10px;
    width: fit-content;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

@media only screen and (max-width: 870px) {
    img{
        width: 110px;
    }
    .title{
        font-size: 20px;
        font-weight: 600;
    }
    .amount{
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 475px) {
    .prices{
        height: 100%;
        padding:10px;
        text-align: right;
    }
    .checkout{
        width: fit-content;
    }
}

