body{
    background-color: #fcf6ee;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
svg{
    justify-content: center;
    align-items: center;
}
.conc .card .productContent{
    width: 18Frem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 1rem; */
    padding: 1rem 3rem;
    align-items: center;
    
}
.conc .card {
    width: max-content;
    height: max-content;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(250, 250, 198);
    border-radius: 1rem;
    /* border: 1px solid black; */
    text-align: center;
}
.conc .card img{
    width: 10rem;
}
.conc .card img:hover{
    transform: scale(1.1);
}
.conc .card .btn{
    /* width: max-content; */
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}
.conc .card .btn button {
	padding:5px; 
	background:#242423; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
    margin-right: 8px;
}

.conc .card .btn button:hover {
    transform: scale(1.1);
    /* opacity: 0.8; */
}
.conc .card .productContent h5, h6{
    color: brown;
}
.productContent .btn:hover{
    color: red;
}

/* .conc .card .productContent p{
    color: brown;
} */

.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}
.container {
    padding: 16px 0;
    text-align:left;
}
span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}
    /* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
}


.topbanner{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #fbfad8;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0%;
}

.logo img{
    height: 95%;
    width: auto;
    margin-top: 5px;
    margin-left: 50px;
    padding-bottom: 5px;
}

.title {
    text-decoration: none;
    color: #a31a19;
    font-size: 45px;
    padding: 25px 10px;
    font-weight: normal;
    align-items: center;
    justify-content:center;
}

.search {
    background-color: #fbf7f7;
    width: 600px;
    height: 44px;
    display:flex;
    flex-direction:row;
    align-items:center;
    border-radius: 42px;
    margin-top: 30px;
    margin-left: 90px;
    border: 1px solid black;
}

/* input {
    all: unset;
    font: 16px system-ui;
    color: rgb(2, 1, 1);
    height: 100%;
    width: 100%;
    padding: 2px 5px;
    border-radius: 15px;
} */

/* ::placeholder {
    color: #c5c1c1;
    opacity: 0.7; 
  } */

svg {
    color: #4f4a4c;
    fill: currentColor;
    width: 44px;
    height: 44px;
    padding-right: 25px;
}

.search button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.search::after {
    content: "";
    clear: both;
    display: table;
} 

.yourName {
    margin-left: 70px;
    margin-top: 35px;
    font-size: 30px;
    font-weight: lighter;
}


.main{
    margin-left: 240px;
    padding-top: 100px; 
    background-color: rgba(245,241,241,255);
    height: auto !important;
}

.alignimages {
    padding-top: 20px;
    padding-left: 50px;
}

.imgsize {
    width: 150px;
    height: 150px;
    text-align: center;
}

.column img {
    display: inline-block;
    margin-bottom: 20px;
}

.column{
    float: left;
    width:33.33%;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 30px;
}

.column img {
    padding-bottom: 5px;
}

.column h4 {
    padding-bottom: 4px;
}

.column h6 {
    padding-bottom: 6px;
}

.column h4, h6{
    font-weight: normal;
}

.row {
    width:965px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



.view-more {
    /* padding-left: 40%; */
    margin-left: 40%;
    /* text-decoration: underline; */
}

.view-more:hover {
    text-decoration: underline;
    color: blue;
}

.hidden {
    display: none;
  }
  
.view-more:not(:checked) ~ label,
  .view-more:checked ~ .hidden {
    display: block;
    text-align: center;
}

.view-more:not(:checked) ~ label p,
  .view-more:checked ~ .hidden p{

    text-decoration: underline;
    color: blue;
}
  
.view-more:checked ~ label {
    display:none;
}

